[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-asyncio = "*"

[packages]
flask = "*"
sqlalchemy = {extras = ["psycopg2"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
